body {
  font-family: "Sono", sans-serif;
  background-image: url("../assets/images/background.jpg");
  background-size: 100% auto;
}

/*
  .background-video{
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
  }
  */

.pricing-container .pricing-plan .plan-features li {
  padding: 10px;
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
}

.pricing-plan {
  background: linear-gradient(to right, #e66465, #9198e5);
  padding: 10px;
  margin: 20px;
  flex: 1 0 0;
  text-align: center;
  border-radius: 20px;
}

.plan-title {
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.plan-price {
  font-weight: bold;
  font-size: 3rem;
  padding: 0;
  margin: 0;
  border: 0;
  flex-shrink: 0;
}

.plan-features {
  list-style-type: none;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.plan-button {
  background: #ff7f3e;
  color: #eeeeee;
  border: 0;
  border-radius: 5px;
  height: 30px;
}

/* Hint: What can you do with a media query and flexbox? */
@media (max-width: 1250px) {
  body {
    background-size: auto 100%;
  }
  .pricing-container {
    /*transform: translate(0%,12%);*/
    flex-direction: column;
  }

  .pricing-plan {
    width: 280px;
  }

  .plan-title {
    font-size: 1.25rem;
  }

  .plan-price {
    font-size: 2rem;
  }
}
